@CHARSET "ISO-8859-1";

/****************
     Globales
****************/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.grid50 {
	width: 50%;
}

.negro {
	background-color: black
}

.naranja {
	background-color: #B3431D
}

.rojo {
	background-color: #B80A01
}

.blanco {
	background-color: white
}

.gris {
	background-color: #5C595C
}

.gris-claro {
	background-color: lightgrey
}

/****************
    Contenido
****************/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, helvetica;
}

#login-wrapper {
	background-image: url(../img/bg-body.jpg);
	width: 100%;
	height: 100%
}

#welcome-wrapper {
	background-color: lightgrey;
	width: 100%;
	height: 100%
}

.container {
	width: 960px;
	margin: 0 auto;
}

.pirata {
	text-align: center;
}

.barra-top {
	width: 960px;
	height: 30px;
}

.color {
	width: 20%;
	height: 15px;
	float: left;
}

.login form {
	padding-top: 100px;
	width: 250px;
	margin: 0 auto;
}

.footer {
	text-align: center;
	color: #3f3b35;
	font-size: 0.8em;
}

.tweets {
	width: 500px;
	height: 100px;
	margin: 20px;
}

.barra-lateral {
	width: 300px;
	height: 500px;
	padding: 0 30px;
	text-align: right;
	color: white;
}

.barra-lateral a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

.barra-postear p {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
	margin: 0;
}

.barra-lateral a:hover {
	color: orange;
}

.barra-postear form {
	padding: 30px;
}

.mini-pirata {
	width: 300px;
	text-align: right;
}



#postear-twit {
	height: 80px;
	width: 300px;
}

.btn:hover {
	background-color: orange;
}